.main-container-profile{
    color: white;
}

.container-profile{
    padding: 50px;
    background-color: rgba(51, 51, 51, 0.7);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.text-column{
    padding-left: 50px;
}

.line-txt{
    margin-top: 15px;
}